<!DOCTYPE html>
<html>
    <head>
        <title>SQL Formatter</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="public/css/style.css">
    </head>
    <body>
        <h1 class="text-center mt-md-3">SQL Formatter</h1>
        <div class="container mt-md-5">
            <form method="POST" id="sqlForm">
                <div class="display-5 mx-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <textarea name="postText" placeholder=" Enter your SQL here! " form="sqlForm"><%= input %></textarea>
                        </div>
                       
                        <div class="col-md-6">
                            <output type="textarea" readonly="true" class="output" name="output" form="sqlForm"><%= formatted %></textarea>
                        </div>
                    </div>
                </div>
                <div class="mx-auto mt-md-3" style="width: 70px;">
                    <button class="btn btn-dark">Convert</button>
                </div>
            </form>
        </div>
        <script src="public/js/self.js"></script>         
    </body>
</html>